.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;

    &-input {
        margin-top: 3em;
        padding: 0.5em 1em;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        width: 400px;
        font-family: "Barlow Semi Condensed", sans-serif;
        transition: 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 3px rgb(72, 101, 244);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgb(72, 101, 244);
        }
    }

    &-button {
        position: relative;
        width: 400px;
        padding: 0.5em 1em;
        border-radius: 10px;
        border: none;
        height: 100px;
        margin-top: 3em;
        font-family: "Barlow Semi Condensed", sans-serif;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: bold;
        color: hsl(229, 25%, 31%);
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6) inset;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        letter-spacing: 0.1em;

        &:nth-child(4) {
            border: 10px solid rgb(72, 101, 244);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: rgb(44, 62, 148);
                z-index: -10;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                border-color: rgb(36, 51, 126);
                &::before {
                    background-color: rgb(26, 37, 90);
                }
            }

            &:focus {
                border-color: rgb(36, 51, 126);
                &::before {
                    background-color: rgb(26, 37, 90);
                }
            }
        }

        &:nth-child(3) {
            border: 10px solid hsl(349, 71%, 52%);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: hsl(349, 66%, 26%);
                z-index: -10;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                border-color: hsl(349, 65%, 35%);
                &::before {
                    background-color: hsl(349, 65%, 21%);
                }
            }

            &:focus {
                border-color: hsl(349, 65%, 35%);
                &::before {
                    background-color: hsl(349, 65%, 21%);
                }
            }
        }

        &:nth-child(5) {
            border: 10px solid hsl(39, 89%, 49%);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: hsl(39, 89%, 29%);
                z-index: -10;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                border-color: hsl(39, 88%, 40%);
                &::before {
                    background-color: hsl(39, 87%, 26%);
                }
            }

            &:focus {
                border-color: hsl(39, 88%, 40%);
                &::before {
                    background-color: hsl(39, 87%, 26%);
                }
            }
        }

        &:focus {
            outline: none;
        }
    }
}

.selected-blue {
}

.selected-red {
}

.selected-yellow {
}

.error {
    box-shadow: 0 0 0 3px hsl(349, 71%, 52%);

    &:hover {
        box-shadow: 0 0 0 3px hsl(349, 71%, 52%);
    }
    &:focus {
        box-shadow: 0 0 0 3px hsl(349, 71%, 52%);
    }
}

@media only screen and (max-width: 767px) {
    .menu {

        &-input {
            width: 240px;
        }

        &-button {
            width: 300px;

            &:nth-child(3) {
                &::before {
                    width: 88.5%;
                }
            }
            &:nth-child(4) {
                &::before {
                    width: 88.5%;
                }
            }
            &:nth-child(5) {
                &::before {
                    width: 88.5%;
                }
            }
        }
    }
}
