.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1366px;
    margin: 3em auto;

    &-input {
        margin-top: 3em;
        padding: 0.5em 1em;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        width: 25%;
        font-family: "Barlow Semi Condensed", sans-serif;
        transition: 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 3px rgb(72, 101, 244);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgb(72, 101, 244);
        }
    }

    &-button {
        position: relative;
        width: 28.5%;
        padding: 0.5em 1em;
        border-radius: 10px;
        border: none;
        height: 100px;
        margin-top: 3em;
        font-family: "Barlow Semi Condensed", sans-serif;
        font-size: 21px;
        text-transform: uppercase;
        font-weight: bold;
        color: hsl(229, 25%, 31%);
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6) inset;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        letter-spacing: 0.1em;

        &:nth-child(4) {
            border: 10px solid rgb(72, 101, 244);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: rgb(44, 62, 148);
                z-index: -10;
            }
        }

        &:nth-child(3) {
            border: 10px solid hsl(349, 71%, 52%);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: hsl(349, 66%, 26%);
                z-index: -10;
            }
        }

        &:nth-child(5) {
            border: 10px solid hsl(39, 89%, 49%);
            &::before {
                content: " ";
                width: 91%;
                padding: 0.5em 1em;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                top: 75px;
                left: -4px;
                background-color: hsl(39, 89%, 29%);
                z-index: -10;
            }
        }

        &:focus {
            outline: none;
            transform: scale(1.1);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

.selected-blue {
}

.selected-red {
}

.selected-yellow {
}

.error {
    box-shadow: 0 0 0 3px hsl(349, 71%, 52%);

    &:hover {
        box-shadow: 0 0 0 3px hsl(349, 71%, 52%);
    }
    &:focus {
        box-shadow: 0 0 0 3px hsl(349, 71%, 52%);
    }
}
