.popup-error {
    position: fixed;
    bottom: 3em;
    left: 3em;
    background: rgb(220, 46, 78);
    background: linear-gradient(87deg, rgba(220, 46, 78, 1) 0%, rgba(219, 94, 117, 1) 100%);
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    img {
        width: 20px;
        height: 20px;
        margin: 0 0.6em 0 0;
    }
}

.error-show {
    opacity: 1;
}

.error-hide {
    opacity: 0;
}
