body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: rgb(20, 21, 57);
  background: linear-gradient(87deg, rgba(20, 21, 57, 1) 0%, rgba(31, 55, 86, 1) 49%, rgba(20, 21, 57, 1) 100%);
}
